<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styleReg.css">
</head>
<center>
<body>
<form method="post" action="">

    <legend>Registration</legend>

    <div class="form-group">
      <label class="col-lg-2 control-label">Login</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="login" placeholder="Login">
      </div>
    </div><br/><br/><br/>

    <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" name="password" placeholder="Mot de passe">
      </div>
    </div>

<br/><br/><center><button type="submit" name="submit" class="btn btn-primary">Register</button></center>
</form>
</body>
</center>
</html>
